body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif; ;
}
h1{
    color: #42ff13;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
.job-title {
    background-color: #24d800;
    color: #08080a ;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
}

#high {
    color: rgb(63, 255, 5);
}
ul {
    background-color: #aaa2a2;
    color: rgb(33, 66, 6);
    font-size: 20px;
    padding: 10px;

}
.info {
    color: rgb(63, 255, 5);
}
a {
    color: yellow;
}