* {
    margin: 0;
    padding: 0;
    background-color: rgb(224, 222, 219);
}
img {
    width: 320px;
    height: 200px;
}

form {
    padding: 24px;
}
label {
    margin-top: 24px;
}
label, input, textarea, select, button {
    display: block;
}

button {
    margin-top: 15px;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(145, 209, 235);
}

input, select {
    background-color: white;
}